<style type="text/css">
  
  a:link { color:#FFffff; font-weight:bold }
      a:visited { color:#ffffff; }
      a:active { color:#ffffff; font-style:italic }
body { margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:00px }

  </style>  